In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
import pandas as pd

In [5]:
mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "Root",
        database="Healthcare",
        autocommit = True)
mycursor = mydb.cursor()

In [28]:
health=pd.read_excel("C:/Users/ADMIN/Downloads/Healtcare-Dataset.xlsx")
healthcare=pd.DataFrame(health)
print(healthcare)

      Patient_ID Admit_Date Discharge_Date         Diagnosis Bed_Occupancy  \
0          23571 2022-12-31     2023-01-12  Viral Infection        General
1          27781 2023-01-04     2023-01-12           Typhoid           ICU
2          24413 2023-01-05     2023-01-12          Malaria        General
3          27360 2023-01-05     2023-01-12               Flu       Private
4          26097 2023-01-06     2023-01-12  Viral Infection        General
...          ...        ...            ...               ...           ...
7152       29885 2024-03-03     2024-03-07           Typhoid       Private
7153       26517 2024-03-04     2024-03-07        Pneumonia        Private
7154       28201 2024-03-05     2024-03-07               Flu       General
7155       24833 2024-03-06     2024-03-07           Typhoid       Private
7156       30727 2024-03-06     2024-03-07  Viral Infection        Private

            Test       Doctor Followup Date  Feedback  Billing Amount  \
0            MRI    Jay Sinha    2023-01-20       5.0           13234
1            MRI  Jaya Yaadav    2023-01-16       4.0           12241
2        CT Scan    Jay Sinha    2023-01-15       5.0           35255
3          X-Ray  Jaya Yaadav    2023-01-19       5.0            6582
4     Blood Test  Jaya Yaadav    2023-02-06       4.9            4567
...          ...          ...           ...       ...             ...
7152  Blood Test    Jay Sinha    2024-03-10       5.0            2342
7153     CT Scan  Jaya Yaadav    2024-03-14       5.0           24943
7154  Blood Test    Jay Sinha           NaT       3.5            2343
7155       X-Ray     Mark Joy    2024-03-15       4.9            3475
7156  Ultrasound  Jaya Yaadav    2024-03-11       5.0           66537

      Health Insurance Amount
0                     11910.6
1                     11016.9
2                     31729.5
3                      5923.8
4                      4110.3
...                       ...
7152                   2107.8
7153                  22448.7
7154                   2108.7
7155                   3127.5
7156                  59883.3

[7157 rows x 11 columns]

In [29]:
healthcare.isnull().sum()

Patient_ID                   0
Admit_Date                   0
Discharge_Date               0
Diagnosis                    0
Bed_Occupancy                0
Test                         0
Doctor                       0
Followup Date              122
Feedback                     0
Billing Amount               0
Health Insurance Amount      0
dtype: int64

In [30]:
healthcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 615.2+ KB

In [31]:
healthcare['Followup Date'] = healthcare['Followup Date'].fillna(method='ffill')
print(healthcare)

      Patient_ID Admit_Date Discharge_Date         Diagnosis Bed_Occupancy  \
0          23571 2022-12-31     2023-01-12  Viral Infection        General
1          27781 2023-01-04     2023-01-12           Typhoid           ICU
2          24413 2023-01-05     2023-01-12          Malaria        General
3          27360 2023-01-05     2023-01-12               Flu       Private
4          26097 2023-01-06     2023-01-12  Viral Infection        General
...          ...        ...            ...               ...           ...
7152       29885 2024-03-03     2024-03-07           Typhoid       Private
7153       26517 2024-03-04     2024-03-07        Pneumonia        Private
7154       28201 2024-03-05     2024-03-07               Flu       General
7155       24833 2024-03-06     2024-03-07           Typhoid       Private
7156       30727 2024-03-06     2024-03-07  Viral Infection        Private

            Test       Doctor Followup Date  Feedback  Billing Amount  \
0            MRI    Jay Sinha    2023-01-20       5.0           13234
1            MRI  Jaya Yaadav    2023-01-16       4.0           12241
2        CT Scan    Jay Sinha    2023-01-15       5.0           35255
3          X-Ray  Jaya Yaadav    2023-01-19       5.0            6582
4     Blood Test  Jaya Yaadav    2023-02-06       4.9            4567
...          ...          ...           ...       ...             ...
7152  Blood Test    Jay Sinha    2024-03-10       5.0            2342
7153     CT Scan  Jaya Yaadav    2024-03-14       5.0           24943
7154  Blood Test    Jay Sinha    2024-03-14       3.5            2343
7155       X-Ray     Mark Joy    2024-03-15       4.9            3475
7156  Ultrasound  Jaya Yaadav    2024-03-11       5.0           66537

      Health Insurance Amount
0                     11910.6
1                     11016.9
2                     31729.5
3                      5923.8
4                      4110.3
...                       ...
7152                   2107.8
7153                  22448.7
7154                   2108.7
7155                   3127.5
7156                  59883.3

[7157 rows x 11 columns]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13732\3691511935.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  healthcare['Followup Date'] = healthcare['Followup Date'].fillna(method='ffill')

In [32]:
healthcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7157 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 615.2+ KB

In [20]:
def data_to_sql(df,table_name):
  from sqlalchemy import create_engine

  database_url='mysql://root:Root@localhost:3306/Healthcare'
  engine=create_engine(database_url)
  df.to_sql(name=table_name,con=engine,if_exists='append',index_label=False)
  engine.dispose()

In [21]:
data_to_sql(healthcare,'healthcare')

In [6]:
sql1="""SELECT YEAR(Admit_Date) AS Year, MONTH(Admit_Date) AS Month, COUNT(Patient_ID) AS Monthly_Admissions
FROM healthcare
GROUP BY YEAR(Admit_Date), MONTH(Admit_Date)
ORDER BY Year, Month;"""
mycursor.execute(sql1)
data=mycursor.fetchall()
df= pd.DataFrame(data, columns=["Year","Month","Monthly_Admissions"])
print(df)

    Year  Month  Monthly_Admissions
0   2022     12                  61
1   2023      1                 590
2   2023      2                 497
3   2023      3                 609
4   2023      4                 493
5   2023      5                 509
6   2023      6                 466
7   2023      7                 505
8   2023      8                 513
9   2023      9                 458
10  2023     10                 501
11  2023     11                 472
12  2023     12                 526
13  2024      1                 501
14  2024      2                 417
15  2024      3                  39

In [7]:
sql2="""SELECT
            Diagnosis,  
            count(Diagnosis) as Diagnosis_count
            FROM healthcare
        GROUP BY Diagnosis
        ORDER BY count(Diagnosis) DESC
        LIMIT 5;"""

mycursor.execute(sql2)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Diagnosis_count"])
print(df)

          Diagnosis  Diagnosis_count
0  Viral Infection              2004
1               Flu             1717
2          Malaria              1431
3           Typhoid             1145
4        Pneumonia               573

In [35]:
sql3="""SELECT 
              Bed_Occupancy, 
              count(Patient_ID) AS Occupancy_Count
              FROM healthcare
        GROUP BY Bed_Occupancy
        ORDER BY count(Patient_ID) DESC;"""
mycursor.execute(sql3)
data=mycursor.fetchall()
df= pd.DataFrame(data, columns=["Bed_Occupancy","Occupancy_Count"])
print(df.head())

  Bed_Occupancy  Occupancy_Count
0       Private             3579
1       General             2385
2           ICU             1193

In [97]:
sql4="""SELECT
            AVG(DATEDIFF(Discharge_Date, Admit_Date)) AS Average_Length_of_Stay,
            MAX(DATEDIFF(Discharge_Date, Admit_Date)) AS Maximum_Length_of_Stay
            FROM healthcare;"""

mycursor.execute(sql4)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Average_Length_of_Stay","Maximum_Length_of_Stay"])
print(df)

  Average_Length_of_Stay  Maximum_Length_of_Stay
0                 8.2498                      45

In [37]:
sql5="""SELECT 
            MONTH(Admit_Date) AS Month, 
            COUNT(Patient_ID) AS Monthly_Admissions
            FROM healthcare
        GROUP BY MONTH(Admit_Date)
        ORDER BY MONTH(Admit_Date);"""
mycursor.execute(sql5)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Month","Monthly_Admissions"])
print(df)

    Month  Monthly_Admissions
0       1                1091
1       2                 914
2       3                 648
3       4                 493
4       5                 509
5       6                 466
6       7                 505
7       8                 513
8       9                 458
9      10                 501
10     11                 472
11     12                 587

In [98]:
sql6="""SELECT 
            Doctor,
            COUNT(Patient_ID) AS Number_Of_Patients
            FROM healthcare
        GROUP BY Doctor
        ORDER BY Number_Of_Patients;"""
mycursor.execute(sql6)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Doctor","Number_Of_Patients"])
print(df)

           Doctor  Number_Of_Patients
0  Naresh Goyenka                1022
1    Tejas Saxena                1022
2          Ravi D                1022
3     Niki Sharma                1022
4       Jay Sinha                1023
5     Jaya Yaadav                1023
6        Mark Joy                1023

In [ ]:
sql7="""SELECT 
            Diagnosis, 
            AVG(DATEDIFF(Discharge_Date, Admit_Date)) AS Avg_Length_of_Stay
            FROM healthcare
        GROUP BY Diagnosis;"""

mycursor.execute(sql7)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Avg_Length_of_Stay"])
print(df)

          Diagnosis Avg_Length_of_Stay
0  Viral Infection              8.4122
1           Typhoid             8.0961
2          Malaria              8.4375
3               Flu             8.0798
4        Pneumonia              7.9825
5          Fracture             8.3449

In [65]:
sql8="""SELECT 
            Doctor,
            AVG(`Billing Amount`) AS Average_Billing
            FROM healthcare
        GROUP BY Doctor;"""
mycursor.execute(sql8)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["octor","Average_Billing"])
print(df)

            octor Average_Billing
0       Jay Sinha      25552.1994
1     Jaya Yaadav      26552.9677
2  Naresh Goyenka      26138.5656
3    Tejas Saxena      26424.0372
4        Mark Joy      27256.1496
5          Ravi D      28013.1213
6     Niki Sharma      26318.6546

In [82]:
sql9="""SELECT 
            Diagnosis,
            SUM(`Billing Amount`) AS Total_Billing
            FROM healthcare
        GROUP BY Diagnosis
        ORDER BY Total_Billing DESC;"""
mycursor.execute(sql9)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Total_Billing"])
print(df)

          Diagnosis Total_Billing
0  Viral Infection       53416273
1               Flu      45877520
2          Malaria       38006041
3           Typhoid      30352736
4        Pneumonia       15216159
5          Fracture       7563953

In [83]:
sql10="""SELECT 
            Bed_Occupancy,
            AVG(`Billing Amount`) AS Average_Billing
            FROM healthcare
        GROUP BY Bed_Occupancy
        ORDER BY Average_Billing DESC;"""
mycursor.execute(sql10)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Bed_Occupancy","Average_Billing"])
print(df)

  Bed_Occupancy Average_Billing
0           ICU      33904.4267
1       General      26484.2453
2       Private      24258.1101

In [96]:
sql11="""SELECT 
            Diagnosis, 
            Bed_Occupancy,
            COUNT(Patient_ID) AS Occupancy_Count
            FROM healthcare
        GROUP BY Diagnosis, Bed_Occupancy
        ORDER BY Occupancy_Count DESC;"""
mycursor.execute(sql11)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Bed_Occupancy","Occupancy_Count"])
print(df)

           Diagnosis Bed_Occupancy  Occupancy_Count
0   Viral Infection        Private             1003
1                Flu       Private              859
2           Malaria        Private              715
3   Viral Infection        General              667
4                Flu       General              572
5            Typhoid       Private              571
6           Malaria        General              478
7            Typhoid       General              382
8   Viral Infection            ICU              334
9         Pneumonia        Private              287
10               Flu           ICU              286
11          Malaria            ICU              238
12           Typhoid           ICU              192
13        Pneumonia        General              191
14          Fracture       Private              144
15        Pneumonia            ICU               95
16          Fracture       General               95
17          Fracture           ICU               48

In [95]:
sql12="""SELECT 
            Test, 
            COUNT(Patient_ID) AS Test_Count
            FROM healthcare
        GROUP BY Test
        ORDER BY Test_Count DESC;"""
mycursor.execute(sql12)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Test","Test_Count"])
print(df)

         Test  Test_Count
0  Blood Test        2236
1         MRI        1789
2     CT Scan        1342
3       X-Ray         895
4  Ultrasound         895

In [94]:
sql13="""SELECT 
            Diagnosis, 
            Test, 
            COUNT(Patient_ID) AS Test_Count
            FROM healthcare
        GROUP BY Diagnosis, Test
        ORDER BY Test_Count DESC;"""
mycursor.execute(sql13)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Test","Test_Count"])
print(df)

           Diagnosis        Test  Test_Count
0   Viral Infection   Blood Test         625
1                Flu  Blood Test         536
2   Viral Infection          MRI         502
3           Malaria   Blood Test         446
4                Flu         MRI         430
5   Viral Infection      CT Scan         375
6            Typhoid  Blood Test         360
7           Malaria          MRI         357
8                Flu     CT Scan         322
9            Typhoid         MRI         286
10          Malaria      CT Scan         269
11  Viral Infection   Ultrasound         251
12  Viral Infection        X-Ray         251
13               Flu       X-Ray         215
14           Typhoid     CT Scan         214
15               Flu  Ultrasound         214
16          Malaria   Ultrasound         180
17          Malaria        X-Ray         179
18        Pneumonia   Blood Test         179
19        Pneumonia          MRI         143
20           Typhoid       X-Ray         143
21           Typhoid  Ultrasound         142
22        Pneumonia      CT Scan         108
23          Fracture  Blood Test          90
24        Pneumonia   Ultrasound          72
25        Pneumonia        X-Ray          71
26          Fracture         MRI          71
27          Fracture     CT Scan          54
28          Fracture  Ultrasound          36
29          Fracture       X-Ray          36

In [92]:
sql14="""SELECT 
            Bed_Occupancy,
            SUM(`Health Insurance Amount`) AS Total_Insurance
            FROM healthcare
        GROUP BY Bed_Occupancy
        ORDER BY Total_Insurance DESC;"""
mycursor.execute(sql14)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Bed_Occupancy","Total_Insurance"])
print(df)

  Bed_Occupancy  Total_Insurance
0       Private       78137798.4
1       General       56848432.5
2           ICU       36403182.9

In [93]:
sql15="""SELECT 
            Diagnosis,
            SUM(`Health Insurance Amount`) AS Total_Insurance
            FROM healthcare
        GROUP BY Diagnosis
        ORDER BY Total_Insurance DESC;"""
mycursor.execute(sql15)
data=mycursor.fetchall()
df = pd.DataFrame(data, columns=["Diagnosis","Total_Insurance"])
print(df)

          Diagnosis  Total_Insurance
0  Viral Infection        48074645.7
1               Flu       41289768.0
2          Malaria        34205436.9
3           Typhoid       27317462.4
4        Pneumonia        13694543.1
5          Fracture        6807557.7